// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

main {
    min-height: 78vh;
}

.alert-link {
    color: white !important;
}
.alert-info {
    background: #7474bf; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #348ac7,
        #7474bf
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #348ac7,
        #7474bf
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}
.alert-danger {
    color: white;
    background: #eb3349; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f45c43,
        #eb3349
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f45c43,
        #eb3349
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.alert-success {
    color: white;
    background: #134e5e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #134e5e,
        #71b280
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #134e5e,
        #71b280
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.alert-primary {
    color: white;
    background: #ff512f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #dd2476,
        #ff512f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #dd2476,
        #ff512f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.alert-secondary {
    color: white;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-primary {
    color: white;
    background: #ff512f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ff512f,
        #dd2476
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ff512f,
        #dd2476
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none !important;
    transition: 0.3s;
}
.btn-primary:hover {
    box-shadow: 0 8px 22px #e60c3f2f, 0 4px 4px #e60c3f2f;
}
.btn-success {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none !important;
}
.btn-success:hover {
    box-shadow: 0 8px 22px #11998e28, 0 4px 4px #11998e28;
}

.btn-danger {
    background: #ed213a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #93291e,
        #ed213a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #93291e,
        #ed213a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none !important;
}
.btn-danger:hover {
    box-shadow: 0 8px 22px #ed213911, 0 4px 4px #ed213911;
}

.collapse,
.card {
    color: black;
}
